.home-page {
  font-family: Arial, sans-serif;
  background: url('../components/Light\ Low\ Poly\ Diamond\ Background\ Gray\ Color\,\ Wallpaper\,\ Background\,\ Abstract\ Background\ Image\ And\ Wallpaper\ for\ Free\ Download.jpeg')
}
.header {
  background-color: #1E90FF;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: white;
}
.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: 400px;
  background: url('../background1.jpg') no-repeat center center;
  background-size: cover;

}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}

.mission {
  display: flex;
  padding: 40px 20px;
  background-color: #f2f2f2;
}

.mission-text {
  flex: 1;
  padding: 20px;
  background-color: #4169E1;
  color: white;
}

.mission-image {
  background: url('https://i.pinimg.com/564x/34/fb/66/34fb66337ecda5b00b617af361df0ee6.jpg');
  flex: 1;
  background-size: cover;
}

.mission-image img {
  width: 100%;
  height: auto;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  width: 45%;
}

.card h3 {
  margin-top: 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.btn-green {
  background-color: #28a745;
}

.footer {
  background-color: rgb(31 41 55);
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .mt-4 {
  margin-top: 1rem;
}

.footer a {
  color: rgb(59 130 246);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer a:hover {
  color: rgb(59 130 246 / 0.75);
}
