/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  background-color: #4169E1	;
  padding: 1rem 2rem;
  z-index: 1000; /* Ensures navbar stays on top */
  box-sizing: border-box; /* Ensures padding and border are included in width */
  border-bottom: 2px solid transparent; /* Initial transparent border bottom */
}

.navbar svg {
  margin-right: 1rem; /* Space between SVG and text */
}

.navbar h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  margin: 0;
  font-size: 3rem; /* Increased size for better visibility */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto; /* Push the list to the far right */
}

.navbar ul li {
  /* margin-left: 1rem; */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 50;
  font-style: normal;
  font-size: 2rem;
  margin-right:10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  position: relative; /* Ensure pseudo-element positioning */
}

.navbar ul li a.active {
  color: #007bff ; /* Active link text color */

}

.navbar ul li a.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px; /* Position the line below the link */
  left: 0;
  width: 100%;
  height: 2px; /* Line thickness */
  background-color: #fff; /* Line color */
  transition: width 0.3s ease; /* Smooth width transition */
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
