/* Program.css */


/* Body and general styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 13%;
}

header h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
  color: rgb(240, 255, 255);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjusted column width */
  gap: 100px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 614px;
  max-height: 300px;
  margin:-32px;
  object-fit: cover; /* Ensures the image is not stretched */
  display: block; /* Ensures the image is treated as a block element */
  border-radius: 15px 15px 0 0; /* Only rounds the top corners */
}

.card-content {
  padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.t-header {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}

.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card-content h3 {
  color: #4a90e2;
  font-size: 3em;
}

.card-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
  line-height: 1.6;
}

.card-content h4 {
  color: #888;
  font-size: 1em;
  margin-top: 15px;
}

.btn {
  
  display: inline-block;
  padding: 12px 24px;
  background-color: #4a90e2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #357ebd;
}

